<main class="container">
  <article>
    <h2>Register</h2>
    <form action="/users" method="post" data-turbo="false">
      <%= csrf_field %>
      <label>
        Email
        <input type="email" name="email" required/>
      </label>
      <label>
        Password
        <input type="password" name="password" required/>
      </label>
      <button type="submit">Register</button>
    </form>
    <p><a href="/login">Already have an account?</a></p>
  </article>
</main>
