<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="A place build your habits. Good habits."/>
    <link rel="icon" type="image/png" sizes="48x48" href="./favicon.ico">
    <title>Welcome to Porotutu</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    >
    <style>
    header hgroup p a svg {
      width: var(--font-size);
      height: var(--font-size);
      color: var(--contrast);
    }
    </style>
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo@7.3.0';
    </script>
  </head>
  <body>
    <!-- Header -->
    <header class="container">
      <hgroup>
        <h1>Porotutu</h1>
        <p>
          A place to build your habits. Good habits.
          <a href="#" id="theme_switcher"></a>
        </p>
        <%= habits_erb :new_link %>
      </hgroup>
    </header>
    <!-- Main -->
    <main class="container">
      <section id="section-habits">
        <turbo-frame id="habits">
          <% habits.each do |habits| %>
            <%= habits_erb :show, locals: { id: habits.id, name: habits.name } %>
          <% end %>
        </turbo-frame>
      </section>
    </main>
    <%= habits_erb :github %>
    <script type="module" src="./javascript/application.js"></script>
    <script type="module" src="./javascript/socketio.js"></script>
    <script src="./javascript/minimal-theme-switcher.js"></script>
  </body>
</html>
