<turbo-stream action="prepend" target="conflicts">
  <template>
    <%= conflicts_erb :show, layout: false, locals: { id:, name: } %>
  </template>
</turbo-stream>
<turbo-stream action="update" target="new_conflicts_frame">
  <template>
    <div>
      <p>Added to the list! You want more?</p>
      <%= conflicts_erb :new_link, layout: false %>
    </div>
  </template>
</turbo-stream>
