<style>
  header hgroup p a svg {
    width: var(--font-size);
    height: var(--font-size);
    color: var(--contrast);
  }
</style>

<header class="container">
  <hgroup>
    <h1>Porotutu</h1>
    <p>
      A place to build your conflicts. Good conflicts.
      <a href="#" id="theme_switcher"></a>
    </p>
    <%= conflicts_erb :new_link %>
  </hgroup>
</header>

<main class="container">
  <section id="section-conflicts">
    <turbo-frame id="conflicts">
      <% conflicts.each do |conflict| %>
        <%= conflicts_erb :show, locals: { id: conflict.id, name: conflict.name } %>
      <% end %>
    </turbo-frame>
  </section>
</main>

<%= conflicts_erb :github %>
