<turbo-stream action="replace" target="pending-partner">
  <template>
    <p>Conflicts revealed!</p>
  </template>
</turbo-stream>
<% revealed.each do |conflict| %>
  <turbo-stream action="append" target="conflicts-active">
    <template>
      <%= conflicts_erb :show, layout: false, locals: { conflict:, current_user_id: } %>
    </template>
  </turbo-stream>
<% end %>
