<turbo-frame id="therapy_<%= id %>">
    <h2>Edit therapy</h2>
    <form action="/<%= id %>" method="put">
    Session: <input type="text" value="<%= name %>" name="name" />
    <input type="submit" value="Update therapy" />
    </form>
</turbo-frame>