<html>
    <head>
    <title>Welcome to Therapies Simulation</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo@7.3.0';
    </script>
    </head>
    <body>
    <h1>Therapies</h1>
      <%= erb :new_link, views: 'features/therapies/views' %>

      <turbo-frame id="therapies">
      <% therapies.each do |therapy| %>
        <%= erb :show,
          views: 'features/therapies/views',
          locals: { id: therapy.id, name: therapy.name } %>
      <% end %>
      </turbo-frame>
    </body>
</html>