<turbo-frame id="new_therapy_frame">
<h2>New therapy</h2>
<form action="/therapies" method="post">
    therapy: <input type="text" name="name"/>
    <input type="submit" value="Create therapy"/>
</form>
</turbo-frame>