<turbo-frame id="therapy_<%= id %>">
    <h2><%= name %></h2>
    <form method="delete" action="/<%= id%>">
    <a class="button" href="/<%= id %>/edit">Edit</a>
    <button type="submit">Delete</button>
    </form>
</turbo-frame>